*{
    margin: 0;
    padding: 0;
}


.restaurant-menu{
    /* margin-top: 50px; */
    text-align: center;
    
    
}

header{
    background-color: #23232e;
    color: aliceblue;
    

}
.entrada{
    margin-top: 35px;
}

.items{
    /* display: flex; */
    margin-left: 75vh;   
    margin-top: 130px;
}

.items>li{
    text-align: justify;
    margin-top: 50px;
}

ul{
    list-style: none;
}
